<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nx.lifesyncbackend.mapper.BasicHealthMapper">

    <resultMap id="BaseResultMap" type="com.nx.lifesyncbackend.model.entity.BasicHealth">
            <id property="healthId" column="health_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="height" column="height" jdbcType="INTEGER"/>
            <result property="weight" column="weight" jdbcType="DOUBLE"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="gender" column="gender" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        health_id,user_id,height,
        weight,age,gender,
        create_time,update_time,is_deleted
    </sql>
</mapper>
